body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: #ffffff;
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

h2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

h3 {
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
}

.wrap {
  width: 124px;
  border-radius: 12px;
  padding: 12px;
  background: #f0f0f0;
}

.container {
  width: 555px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.photo {
  padding: 0;
}

.about {
  height: 124px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-info .name {
  margin-bottom: 6px;
  font-weight: 600px;
  font-size: 14px;
  line-height: 14.5px;
}

.about-info .position {
  font-weight: 500px;
  font-size: 12px;
  line-height: 18px;
  color: #5c5c5c;
}

.languages {
  width: 267px;
  height: 124px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.languages-info {
  display: flex;
}

.languages-level {
  display: flex;
  flex-direction: column;
  margin-left: 17px;
}

.languages-text h3 {
  margin-bottom: 10px;
  line-height: 11px;
}

.slider {
  margin-bottom: 10px;
  appearance: none;
  width: 168px;
  height: 11px;
  border-radius: 3px;
  outline: none;
  background: #cfcfcf;
  position: relative;
  content: "";
}

.slider::-webkit-slider-thumb {
  appearance: none;
  background: #28d979;
  width: 11px;
  height: 11px;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.experience {
  width: 411px;
  height: 359px;
}

.experience h2 {
  margin-bottom: 16px;
}

.place-wrap {
  width: 387px;
  height: fit-content;
  border-radius: 12px;
  margin: 10px auto;
  padding: 8px;
  background: #ffffff;
}

.place-wrap.recent {
  background: #28d979;
  color: #ffffff;
}

.place-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.recent-tag {
  background: rgba(126, 115, 18, 0.4);
  padding: 2px 6px;
  border-radius: 58px;
  color: #ddf163;
}

.place-info {
  display: flex;
  justify-content: space-between;
}

.position {
  display: flex;
  flex-direction: column;
  width: 124px;
  margin-right: 8px;
}

.job {
  width: 239px;
}

.job ul {
  padding: 0;
  list-style-position: inside;
  margin: 0;
}
.job ul li {
  display: flex;
  align-items: flex-start;
  position: relative;
  padding-left: 10px;
}
.job ul li::before {
  content: "•";
  position: absolute;
  left: 0;
  top: 0;
}

.tools {
  height: 359px;
  display: flex;
  flex-direction: column;
}

.tools h2 {
  margin-bottom: 14px;
}

.tools-info {
  width: 76px;
  background: #ffffff;
  border-radius: 6px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.tools-info span {
  font-weight: 500px;
  font-size: 5px;
  line-height: 7px;
  padding: 2px 6px;
  border-radius: 59px;
  background: #000000;
  color: #ffffff;
  position: relative;
  top: -5px;
}

span.design {
  left: 23px;
}
span.no-code {
  left: 21px;
}
span.artificial-intelligence {
  left: 6px;
}

.tools-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  padding: 10px 12px 12px 12px;
}

.tools-list img {
  height: 17px;
}

.education {
  width: 268px;
  height: 289px;
}

.education h2 {
  margin-bottom: 16px;
}

.education-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  row-gap: 12px;
}

.education-card {
  width: 116px;
  height: fit-content;
  background: #ffffff;
  padding: 8px;
  border-radius: 10px;
}

.education-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.hashtags {
  color: #149063;
  margin-bottom: 8px;
}

.education-card.important {
  background: #28d979;
  color: #ffffff;
}
.education-card.important .hashtags {
  color: #ebf9f2;
}

.interests {
  width: 267px;
  background: #f0f0f0;
  border-radius: 12px;
  padding: 12px;
}

.interests h2 {
  margin-bottom: 16px;
}

.interests-item {
  padding: 4px 10px;
  background: #ffffff;
  border-radius: 40px;
  display: inline-block;
  margin-bottom: 8px;
  margin-right: 8px;
  font-size: 10px;
  line-height: 15px;
}

.contacts {
  width: 267px;
  height: fit-content;
  padding: 12px;
  background: #000;
  border-radius: 12px;
  color: #ffffff;
}

.contacts span {
  font-size: 10px;
  line-height: 15px;
}

.contacts h2 {
  margin-bottom: 11px;
}

.additional-info-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@keyframes highlight {
  to {
    border: 1px solid #969696;
    border-radius: 3px;
    transform: scale(120%);
    transition: transform 0.5s;
  }
}

[contenteditable="true"]:focus {
  outline: none;
  animation: highlight 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

.downloading {
  display: flex;
  justify-content: center;
}

#downloadPdf {
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: #28d979;
  color: #ffffff;
  cursor: pointer;
}
