body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: #ffffff;
  font-weight: 400;
  font-size: 8px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

h2 {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 16px;
}

h3 {
  font-weight: 500;
  font-size: 10px;
  margin-bottom: 10px;
}

.container {
  width: 555px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}


.about {
  display: flex;
  flex-direction: column;
} 
.about .name{
  margin-bottom: 6px;
  font-weight: 600px;
  font-size: 14px;
}

.about .position {
  font-weight: 500px;
  font-size: 12px;
}


.photo {
  width: 124px;
  height: 124px;
  border-radius: 12px;

}

.main-info {
  width: 124px;
  height: 124px;
  padding: 12px;
  border-radius: 12px;
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.languages-wrap {
  width: 267px;
  height: 124px;
  padding: 12px 12px 12px 22px;
  border-radius: 12px;
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.languages {
  display: flex;
}

.languages-level {
  display: flex;
  flex-direction: column;
  margin-left: 17px;
}

.slider {
  margin-bottom: 10px;
  -webkit-appearance: none;
  width: 168px;
  height: 11px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4caf50;
  cursor: none;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4caf50;
  cursor: pointer;
}


.experience-wrap {
  width: 411px;
  height: 359px;
  background: #F0F0F0;
  border-radius: 12px;
  padding: 12px;
}

.place-wrap{
  width: 387px;
  height: fit-content;
  background: #ffffff;
  border-radius: 12px;
  margin: 10px auto;
  padding: 8px
}

.place-wrap.recent{
  background: #28D979;
  color: #ffffff;
}

.position {
  display: flex;
  flex-direction: column;
  width: 124px;
  margin-right: 8px;
}

.place-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.recent-tag{
  background: rgba(126, 115, 18, 0.4);
  padding: 2px 6px;
  border-radius: 58px;
  color: #DDF163;
}

.place-info{
  display: flex;
  justify-content: space-between;
}

.position h3{
  margin: 0;
}

.job ul{
  padding: 0;
  list-style-position: inside;
  margin: 0;
}
.job ul li{
  display: flex;
  align-items: flex-start;
  position: relative;
  padding-left: 10px;
}
.job ul li::before{
  content: '•';
  position: absolute;
  left: 0;
  top: 0;
}

.job{
  max-width: 239px;
}


.tools-wrap{
  width: 124px;
  height: 359px;
  background: #F0F0F0;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 12px 12px 3px 12px ;
}

.tools{
  width: 76px;
  background: #ffffff;
  border-radius: 6px;
  margin: 0 auto;
  margin-bottom: 12px;
}

.tools-title{
  font-weight: 500px;
  font-size: 5px;
  padding: 2px 6px;
  border-radius: 59px;
  background: #000000;
  color: #ffffff;
  position: relative;
  top: -5px;
}

.tools-title.design{
  left: 23px;
}
.tools-title.no-code{
  left: 21px;
}
.tools-title.artificial-intelligence{
  left: 6px;
}


.tools-info{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  padding: 10px 17px 15px 17px;
}

.icon{
  height: 17px;
  
}

.education-wrap{
  width: 268px;
  height: 289px;
  background: #F0F0F0;
  border-radius: 12px;
  padding: 12px;
}

.education-info{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  row-gap: 12px;
}

.education-card{
  width: 116px;
  height: fit-content;
  background: #FFFFFF;
  padding: 8px;
  border-radius: 10px;
}

.education-card h3{
  margin: 0;
}

.education-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.hashtags{
  color: #149063;
  margin-bottom: 8px;
}

.education-card.important{
  background: #28D979;
  color: #FFFFFF;
}
.education-card.important .hashtags{
  color: #EBF9F2;
}


.interests-wrap{
  width: 267px;
  background: #F0F0F0;
  border-radius: 12px;
  padding: 12px;
}
.interests-item{
  padding: 4px 10px;
  background: #FFFFFF;
  border-radius: 40px;
  display: inline-block;
  margin-bottom: 8px;
  margin-right: 8px;
  font-size: 10px;
}

.contacts-wrap{
  width: 267px;
  height: fit-content;
  padding: 12px;
  background: #000;
  border-radius: 12px;
  color: #FFFFFF;
}


.contacts-wrap span{
  font-size: 10px;
}

.additional-info-wrap{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
